<div class="box">
	<div class="avatar" style="background-image: url({{connections.data.requesterStream.avatarSrc}})"></div>
	<div class="user-details">
		<h3>{{connections.data.requesterStream.displayName}}</h3>
		<p class="gray">
			{% for post in connections.data.requesterStream.posts %}
				{% if loop.last %}
					{{ post.createdTime|fromNow }}
				{% endif %}
			{% endfor %}
		</p>
	</div>
</div>

<div class="bg-transparent box center no-padding">
<button class="half-button bg-dark">Tell a friend</button>
<button class="half-button bg-green white">Add a friend</button>
</div>

{% for connection in connections.data.connections %}
<div class="box connection" onclick="loadView('stream','/stream/id/{{ connection.id }}')">
	<div class="avatar" style="background-image: url({% if connection.avatarSrc %}{{ connection.avatarSrc }}{% else %}/img/default-avatar.png{% endif %})"></div>
	<div class="user-details">
		<h3>{{ connection.displayName }}</h3>
		{% if connection.unreadPostCount > 0 %}<div class="indicator bg-green"></div>{% endif %}
		<p class="gray status">
			{% for post in connection.posts %}
				{% if loop.last %}
					{{ post.createdTime|fromNow }}
				{% endif %}
			{% endfor %}
		</p>
	</div>
</div>
{% endfor %}