	* {
		box-sizing: border-box;
	}

	html {
		max-width: 400px;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}

	body {
		width: 100%;
		margin: 0;
		padding: 0;
		color: #494949;
		background-color: #FEF0E5;
		font-family: -apple-system, "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
	}

	a, a:visited {
		color: #21A9FC;
	}

	.box {
		background-color: #FFFFFF;
		border: 2px solid #F1E5DD;
		border-radius: 0.6em;
		width: 380px;
		margin: auto;
		padding: 1em 1em;
		margin-top: 0.5em;
	}

	.view-name {
		width: 100%;
		text-align: center;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	input {
		background-color: #F5F5F5;
		border: 0;
		border-radius: 0.3em;
		display: block;
		font-size: 1.2em;
		width: 98%;
		margin: auto;
		margin-bottom: 0.5em;
		padding: 0.5em;
	}

	.bg-pink {
		background-color: #FE4E72;
	}

	.bg-green {
		background-color: #25D87A;
	}

	.bg-dark {
		background-color: #ECDFD6;
	}

	.bg-transparent {
		background: none;
		border: none;
	}

	.white {
		color: #FFFFFF;
	}

	.gray {
		color: #9C9C9C;
	}

	.green {
		color: #04D348;
	}

	.red, .liked {
		color: #FE5E52;
	}

	.connection, .back-button {
		cursor: pointer;
	}

	.avatar {
		width: 50px;
		height: 50px;
		display: inline-block;
		border-radius: 100%;
		background: #fff no-repeat center;
		background-size: cover;
	}

	.user-details {
		display: inline-block; 
		vertical-align: top;
		margin-left: 1em;
		line-height: 1.5em;
	}

	.half-button {
		border-radius: 0.3em;
		border: 0;
		width: 49%;
		font-size: 1em;
		padding: 0.5em;
		cursor: pointer;
	}

	.center {
		text-align: center;
	}

	.no-padding {
		padding: 0;
	}

	.no-margin {
		margin: 0;
	}

	.indicator {
		width: 10px;
		height: 10px;
		display: inline-block;
		margin-right: 3px;
		border-radius: 100%;
	}

	.status { 
		display: inline-block;
	}

	.stream-bar {
		background-color: #FFFFFF;
		border-bottom: 2px solid #EAEAEA;
		padding:1em;
		width: 400px;
		position: fixed;
		top: 0;
		left: 0;
	}

	.requests {
		margin-top: 87px;
	}

	.posts {
		margin-top: 87px;
		background-color: #FFFFFF;
		padding-top: 1em;
	}

	.posts img {
		width: 100%;
	}

	.posts video {
		width: 100%;
	}

	.text, .link {
		padding: 0em 1em;
	}

	.back-button {
		color: #B2B2B2;
		font-size: 2em;
	    display: inline-block;
	    vertical-align: top;
	    margin-top: 12px;
	    margin-right: 0.5em;
	}

	hr {
		border: 1px solid #F3F3F3;
		width: 2em;
		margin: 1em 0em;
	}

	.message {
		margin-bottom: 0.5em;
	}

	.message:last-child {
		margin-bottom: 0;
	}

	.meta {
		padding-top: 0.5em;
		padding-left: 1.2em;
		font-size: 0.8em;

	}

	.meta p, i {
		display: inline-block;
		margin-right: 0.3em;
	}

	.like {
		cursor: pointer;
	}

	.request-actions p {
		display: inline;
	}

	.outgoing {
		opacity: 0.8;
	}

	.wrap {

	  /* These are technically the same, but use both */
	  overflow-wrap: break-word;
	  word-wrap: break-word;

	  -ms-word-break: break-all;
	  /* This is the dangerous one in WebKit, as it breaks things wherever */
	  word-break: break-all;
	  /* Instead use this non-standard one: */
	  word-break: break-word;

	  /* Adds a hyphen where the word breaks, if supported (No Blink) */
	  -ms-hyphens: auto;
	  -moz-hyphens: auto;
	  -webkit-hyphens: auto;
	  hyphens: auto;

	}


